<section class="order-confirmation">
    <div class="logo"><img src="img/logo.png" alt="">
        <div class="confirmation-title">Ім'я, Дякуємо за Ваше замовлення!</div>
        <div class="private-account-link">Ви можете перевірити статус Вашого замовлення,
            увійшовши в свій особистий кабінет.</div>
        <div class="order-id">Ваше замовлення №102505262, (від 10 вересня 2018 р.)</div>
        <div class="order-information-titles">
            <div class="titles-item">Позиція</div>
            <div class="titles-item">Артикул</div>
            <div class="titles-item">Кіл-ть</div>
            <div class="titles-item">Вартість</div>
        </div>
        <div class="order-details"><img src="img/goodspic.png" alt="">
            <div class="order-article">51918631</div>
            <div class="order-quantity">1</div>
            <div class="order-price">124.98 грн.шт</div></div>
        <div class="order-delivery"><div class="order-delivery-text">Доставка</div><div class="order-delivery-price">ціна</div></div>
        <div class="order-sum">
            <div class="order-sum-text"></div><div class="order-sum-price"></div>
        </div>
        <div class="order-total-sum"><div class="order-total-sum-text"></div><div class="order-total-sum-price"></div></div>
            <div class="receiver-name">Отримувач: <span class="gray-text">Ім'я</span></div>
            <div class="delivery-method">Спосіб доставки: <span class="gray-text">Самовивіз</span></div>
            <div class="delivery-address">Адреса доставки:  <span class="gray-text">08162 Київська обл., смт. Чабани,
                Одеське шосе, 8</span></div>
            <div class="nl-tel gray-text">]Тел: (044) 393 76 26</div>
            <div class="nl-email gray-text">e-support@nl.ua</div>
            <div class="any-questions-title">З'явилися питання?</div>
            <div class="any-questions-text">Найбільш оперативну відповідь Ви отримаєте, відповівши на цей лист, або
                написавши нам лист з номером замовлення на email: e-support@nl.ua</div>
    </div>
</section>