<section
         style="font-family: 'Ubuntu', sans-serif ; font-size: 13.33px; font-weight: 300; background-color: #cdcfcf">
    <div style=" max-width: 540px; box-sizing: border-box;
    margin: 0 auto; background-color: white; padding: 0 40px;">
        <div style="text-align: center;"><img src="img/logo.png" alt=""></div>
        <div
             style="text-align: center;font-size: 18.64px; font-weight: 500; margin-top: 25px; margin-bottom: 15px;">
            Ім'я, Дякуємо за Ваше замовлення!
        </div>
        <div style=" width: 312px;">Ви можете перевірити статус Вашого замовлення,
            увійшовши в свій <a href="javascript:void(0)"
                                style="text-decoration: none; border-bottom: 1px solid #0f69d8; color: #0f69d8;">особистий
                кабінет.</a></div>
        <div style=" margin-top: 15px; margin-bottom: 23px; ">Ваше замовлення <span
                style="color: #007742;">№102505262</span>, (від 10 вересня 2018 р.)
        </div>
        <table style="width: 100%; border-spacing: 0; border-collapse: collapse;">
            <tr style="text-align: center; font-weight: 500; margin-bottom: 10px;">
                <th style="width: 25%; border-bottom: 1px solid black; padding-bottom: 10px;">Позиція</th>
                <th style="width: 25%; border-bottom: 1px solid black; padding-bottom: 10px;">Артикул</th>
                <th style="width: 25%; border-bottom: 1px solid black; padding-bottom: 10px;">Кіл-ть</th>
                <th style="width: 25%; border-bottom: 1px solid black; padding-bottom: 10px;">Вартість</th>
            </tr>
            <tr style="text-align: center;">
                <td><img src="img/goodspic.png" alt=""></td>
                <td>51918631</td>
                <td>1</td>
                <td>124.98 грн.<span style="font-size: 8px;vertical-align: text-top;">шт</span></td>
            </tr>
            <tr>
                <td style="font-size: 12px; padding-top: 8px; padding-bottom: 11px;" colspan="4">Плед флісовий Underprice
                    Зірки 150x180 см
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: 500; padding: 7px 0px 7px 10px;  border-bottom: 1px solid black; border-top: 1px solid black;">Доставка</td>
                <td colspan="2" style="font-weight: 300; text-align: right; padding: 7px 7px 7px 0;  border-bottom: 1px solid black; border-top: 1px solid black;">ціна</td>
            </tr>
            <tr>
                <td colspan="4" style="font-weight: 500; text-align: right; padding-right: 7px;">Сума замовлення: <span>#ALLSUM#</span></td>
            </tr>
            <tr style="font-weight: 500">
                <td colspan="2" style="padding: 7px 0px 7px 10px; border-bottom: 1px solid black; border-top: 1px solid black;">Вартість замовлення</td>
                <td colspan="2" style="text-align: right; padding: 7px 7px 7px 0; border-bottom: 1px solid black; border-top: 1px solid black;">#ALLSUM#</td>
            </tr>
        </table>
        <div style=" margin-top: 13px; padding-left: 10px; margin-bottom: 14px; font-weight: 500;">
            <div style="
  margin-bottom: 9px;">Отримувач: <span style="color: #6a6a6a;">#NAME#</span></div>
            <div style="margin-bottom: 9px;">Спосіб доставки: <span>#DEL_TYPE#</span></div>
            <div style="margin-bottom: 42px; width: 335px;">Адреса доставки:
                <span style="color: #6a6a6a;">#ADDRESS#</span></div>
            <div style="color: #6a6a6a;  margin-bottom: 3px; font-weight: 300">Тел: (044) 393 76 26</div>
            <div style="color: #6a6a6a; font-weight: 300">e-support@nl.ua</div>
        </div>
        <div style="border-top: 1px solid black; padding-top: 6px; padding-left: 10px; padding-bottom: 55px;">
            <div style="font-weight: 500;
  margin-bottom: 3px;">З'явилися питання?
            </div>
            <div style=" font-size: 12px; color: #6a6a6a;">Найбільш оперативну
                відповідь Ви отримаєте, відповівши на цей лист, або
                написавши нам лист з номером замовлення на email: <span style="color: #0f69d8;">e-support@nl.ua</span>
            </div>
        </div>
    </div>
    <div style="font-size: 0; margin: 0 auto; max-width: 540px; box-sizing: border-box; padding: 16px 2%;">
        <a href="javascript:void(0)" style="width: 32%; display: inline-block; vertical-align: middle;"><img src="img/newsicon.png" alt=""
                                          style="display: inline-block; vertical-align: middle; margin-right: 10px;">
            <div style="color: #007742; display: inline-block;vertical-align: middle; font-size: 20px;">
                новини
            </div>
        </a>
        <a href="javascript:void(0)" style="width: 32%; display: inline-block; vertical-align: middle;text-align: center"><img src="img/hoticon.png" alt=""
                                          style="display: inline-block; vertical-align: middle; margin-right: 10px;">
            <div style="color: #007742; display: inline-block;vertical-align: middle; font-size: 20px; text-align: left;">
                гарячі<br> пропозиції
            </div>
        </a>
        <a href="javascript:void(0)" style="width: 32%; display: inline-block; vertical-align: middle; text-align: right;"><img src="img/blogicon.png" alt=""
                                          style="display: inline-block; vertical-align: middle; margin-right: 10px;">
            <div style="color: #007742; display: inline-block;vertical-align: middle; font-size: 20px;">
                блог
            </div>
        </a>
    <div style="text-transform: uppercase; font-size: 18.67px; font-weight: 300; text-align: center; margin-bottom: 15px; margin-top: 15px;">купуй зручно:</div>
    <div style="text-align: center;">
    <a href="#" style="display: inline-block; margin-right: 10px;"><img src="img/appstoreicon.png" alt=""></a>
    <a style="display: inline-block;"><img src="img/googleplayicon.png" alt=""></a>
        <a href="#" alt="" style="display: block; text-align: center; font-size: 10.67px; font-weight: 300; text-decoration: none; color: black; margin-top: 15px;"><span style="border-bottom: 1px solid black;">Відписатися від розсилки</span></a>
    </div>
    </div>
</section>