@import 'settings';
//@import 'fonts';
@import 'mixins';
//@import 'customselect';
//@import 'customcheckbox';
//@import 'custominputnumber';

.order-confirmation{
  @import 'reset';
  font-family: $ubuntu;
  font-size: 13.33px;
  font-weight: 300;
  .container {
    max-width: 460px;
    margin: 0 auto;
  }
}
@import "../../components/orderconfirmation/_orderconfirmation.scss";